@font-face {
  font-family: 'HarreeghPoppedCyrillic';
  src: url('./HarreeghPoppedCyrillic.ttf') format('truetype');
}

.App {
  display: flex;
  flex-flow: column nowrap;
  background: url("./grass.jpeg");
  min-height: 100vh;
}

.App-header {
  color: white;
  text-align: center;
  font-size: 32px;
  font-family: 'HarreeghPoppedCyrillic', sans-serif;
}

.App-header-main, .App-header span {
  color: white;
  text-align: center;
  font-size: 54px;
  font-family: 'HarreeghPoppedCyrillic', sans-serif;
}

.App-body {
  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.App-flower {
  width: 180px;
  height: 180px;
  background-size: contain;
  margin: 10px;
  cursor: pointer;
}

.App-flower-1 {
  background-image: url(./flower-1.png);
}

.App-flower-2 {
  background-image: url(./flower-2.png);
}

.App-flower-3 {
  background-image: url(./flower-3.png);
}

.App-flower-4 {
  background-image: url(./flower-4.png);
}

.App-flower-5 {
  background-image: url(./flower-5.png);
}

.App-flower-6 {
  background-image: url(./flower-6.png);
}

.App-flower-selected {
  background-image: none;
}

.App-result {
  padding: 20px;
  text-align: center;
  font-size: 32px;
  font-family: 'HarreeghPoppedCyrillic', sans-serif;
}

.App-result-text {
  font-size: 24px;
}

.App-result-button {
  color: purple;
  cursor: pointer;
}

.App-result-button:hover {
  text-decoration: underline;
}